# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
*error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend build files
dist/
dist-ssr/
build/
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Optional: Bỏ qua các file word tài liệu luận văn cá nhân nếu bạn không muốn up lên github
*.docx
*.pdf
*.xlsx
